    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

<div class="jumbotron" style="background-color: yellow;">
  <img src="http://cdn.newsapi.com.au/image/v1/962a222f1a41e874008c7c8e6354bacd" alt="burglar" style="width:625px; height:250px">
<h1>Hamburglers Burger Bash!</h1>
</div>

<i>Your slate to choose from:</i>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burg-block eat=true}}
    {{/unless}}
  {{/each}}
</ul>

<i>Burgers that have been eaten!</i>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burg-block eat=false}}
    {{/if}}
  {{/each}}
</ul>

<i>Order up!</i>
<form class="create-form">

  <div class="form-group">
    <i for="ca">Burger Name:</i>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
