<h1>Hamburglers Burger Bash!</h1>

<h2>Your slate to choose from:</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burg-block eat=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burg-block eat=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Order up!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
