.jumbotron {
  font-family: 'Bangers', cursive;
  color: rgb(199, 23, 23);
  background-color: #ffe600;
  text-align: center;
}

button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: rgb(248, 4, 4); /* Green */
  color: white;
  font-size: 1rem;
}

i {
  font-size: 1.8rem;
  font-family: 'Indie Flower', cursive;
}

li {
    padding: 5px;
    margin: 5px;
    background: yellow;
    font-size: 1.2rem;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  