.jumbotron {
  font-family: 'Bangers', cursive;
  color: rgb(199, 23, 23);
  background-color: #ffe600;
  text-align: center;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  